body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.container {
    width: 350px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#inputSentence, #inputTime1, #inputTime2, #inputTime3 {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#saveButton {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#saveButton:hover {
    background-color: #0056b3;
}

ul {
    margin-top: 20px;
    list-style-type: none;
    padding-left: 0;
}

/* li {
    padding: 8px;
    border-bottom: 1px solid #eee;
} */

.timeInputs {
    display: flex;
    gap: 10px;
}

#inputTime1, #inputTime2, #inputTime3 {
    flex: 1;  /* 각 입력 상자의 크기를 동일하게 유지 */
}

.textBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #eee;
}

.deleteBtn {
    border: none;
    background-color: white;
}
